html{
  position: fixed;
  font-family: 'Inter',sans-serif;
}
.input-container > button{
  padding: 10px 40px 10px 40px;
  margin-top: 30px;
  margin-left: 30px;
}
.close-button{
  float: right;
}
.form-container{
  align-items: center;
}
.form-container > h1{
  margin-left: 30px;
  font-family: 'Inter',sans-serif;
}

.form-container > table{


}
