<html>
<head>
  <link rel="stylesheet" href="edit-dialog.component.scss">
  <title>Sign Up Page</title>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <a class="close-button"  href="javascript:void(0)"   (click)="Cancelbutton()"><span class="material-icons-outlined"> cancel</span></a>
      <h1>Edit User</h1>
      <a href="#"> </a>
      <div class="line"></div>


      <form [formGroup]="EditUserForm">
        <table>
          <tr>
            <th></th>
            <td><p class="table-p">User Information</p></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>
              <div class="input-container">
                <input formControlName="firstname" [(ngModel)]="user.firstname" type="text" placeholder="Enter Firstname">
              </div>
            </td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>
              <div class="input-container">
                <input formControlName="lastname" [(ngModel)]="user.lastName" type="text" placeholder="Enter Lastname">
              </div>
            </td>
          </tr>

          <tr>
            <th>Email</th>
            <td>
              <div class="input-container">
                <input formControlName="email" [(ngModel)]="user.email"  type="text" placeholder="Enter email">
              </div>
            </td>
          </tr>

          <tr>
            <th></th>
            <td>
          <mat-form-field>
            <mat-label>Select Role</mat-label>
            <mat-select formControlName="role" [(ngModel)]="user.role"  [(value)]="selected">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="Officer">Officer</mat-option>
              <mat-option value="Judge">Judge</mat-option>
              <mat-option value="Attorney">Attorney</mat-option>
            </mat-select>
          </mat-form-field>
          <p>You selected: {{selected}}</p>
        </td>
        </tr>

          <tr>
            <th></th>
            <td><p class="table-p">Change Password</p></td>
          </tr>
          <tr>
            <th>Password</th>
            <td>
              <div class="input-container">
                <input formControlName="password"  type="password" placeholder="Enter password">
              </div>
            </td>
          </tr>

          <tr>
            <th></th>
            <td><button (click)="editUser()" class="form-adduser-button" type = "submit">Edit</button><button class="form-cancel-button"  (click)="Cancelbutton()">Cancel</button></td>
          </tr>
        </table>
      </form>
    </div>


  </div>
</body>
</html>


